html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
body {
  /* background-color: #9FA3FF; */
  background-image: linear-gradient(to top right,#CD69DA, #FDA3A4);
  min-height: 100vh;
  /* overflow: hidden */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


.app {
  max-width: 80vw;
  height: 800px;
  border-radius: 5px;
  background-color: #181820;
  /* padding: 50px 30px; */
  margin: auto;
  margin-top: 50px;
  text-align: center;
  position: relative;
  box-sizing: border-box;
  transition: all .2s;
  position: relative;
  overflow: hidden;
}

.todoNotFoundHeading {
  opacity: 0;
  animation: 1.5s headingAnimation .6s ease-out forwards;
}

.todoList {
  max-height: 550px;
  min-height: 500px;
  overflow-y: scroll;
  overflow-x: hidden;
  position: relative;
  transition: all 1s;
}

.todoList::-webkit-scrollbar {
  display: none;
}

.todoList {
  -ms-overflow-style: auto;
  scrollbar-color: grey transparent ;   
}


@keyframes headingAnimation {
  100% {
    opacity: 1;
  }
}