
/* .heading {
  text-decoration: underline;
}
.heading span {
  font-family: 'Zen Kurenaido', sans-serif;
} */

.form {
  width: 500px;
  height: 300px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 5rem 1rem;
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  transition: all 2s;
  animation: popup .6s linear forwards;
  z-index: 999;
}
.formClose {
  animation: popDown .4s linear forwards;
}


.formInnerContainer {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.addBtn {
  background-image: linear-gradient(to top right, #C546D4, #FE9089);
}
.addBtn span {
  color: #fff
}


.completedTodo {
  animation: fallDown 1.3s forwards !important;
  z-index: 9;
  position: absolute;
}

.todoList {
  max-height: 550px;
  min-height: 500px;
  overflow-y: scroll;
  overflow-x: hidden;
  position: relative;
  transition: all 1s;
}


@keyframes popup {
  0% {
    clip-path: polygon(50% 100%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 50% 100%);
    opacity: 0;
  }
  50% {
    clip-path: polygon(0 75%, 48% 75%, 45% 100%, 55% 100%, 52% 75%, 100% 75%, 100% 75%, 0 75%);
    opacity: .5;
  }
  100% {
    clip-path: polygon(0 75%, 48% 75%, 45% 100%, 55% 100%, 52% 75%, 100% 75%, 100% 0, 0 0);
    opacity: 1;
  }
}

@keyframes popDown {
  0% {
    clip-path: polygon(0 75%, 48% 75%, 45% 100%, 55% 100%, 52% 75%, 100% 75%, 100% 0, 0 0);
  }
  50% {
    clip-path: polygon(0 75%, 48% 75%, 45% 100%, 55% 100%, 52% 75%, 100% 75%, 100% 75%, 0 75%);
    opacity: .3;
  }
  100% {
    clip-path: polygon(50% 100%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 50% 100%);
    opacity: 0;
  }
}


@keyframes fallDown {
  0% {
      box-shadow: 0 5px 10px rgba(0,0,0,.7);
  }

  100% {
      transform: rotate(-0deg) rotateZ(-7deg) translateY(50rem);
      box-shadow: 0 15px 20px rgba(0,0,0,1);
      opacity: .1;
  }
}