.todoContainer {
  width: 70%;
  height: 90%;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
}



.nav {
  min-height: 10%;
  max-height: 10%;
  width: 100%;
  background-color: #21212B;
  box-shadow: 0 2px 3px rgba(0,0,0,.4);
  position: relative;
  text-align: start;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navMenuIcon {
  cursor: pointer;
  transition: all .3s;
  backface-visibility: hidden;
}
.navMenuIcon:hover {
  transform: scale(1.02);
}
.navMenuIcon:active {
  transform: scale(.95);
}
.heading {
  text-decoration: underline;
}
.heading span {
  font-family: 'Zen Kurenaido', sans-serif;
}


.drawer {
  width: 0;
  height: 90%;
  background-color: #21212B;
  position: relative;
  box-shadow: 0 2px 3px rgba(0,0,0,.4);
  transition: all .3s ease-in;
  overflow: hidden;
  transform: translateX(-120%);
  animation: slideIn .4s ease-out forwards;
}

.drawerActive {
  width: 300px;
}

.drawerInnerContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem 0;
}

.drawerInnerContainer > * {
  height: 48px;
}

.addCategoryBtn {
  position: absolute;
  bottom: 2%;
  right: 2%;
}

.categoryFormContainer {
  height: 90px;
  width: 100%;
  transform: translateX(-120%);
  animation: slideIn .4s ease-out forwards;
  transition: all .4s;
}
.categoryForm {
  width: 100%;
}

.categoryFormInnerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
}

.categoryFormSubmitBtnContainer {
  display: block;
  text-align: center;
}

.categoryContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.deleteCategoryConfirmationContainer {
  height: 0%;
  background-color: rgba(0,0,0,.4);
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all .4;
  animation: fullHeight .4s ease-out forwards;
}

.deleteCategoryConfirmationInnerContainer {
  margin-top: -5rem;
  background-color: rgba(0,0,0,.7);
  padding: 2rem 0;
  border-radius: 3px;
}

@keyframes fullHeight {
  100% {
    height: 100%;
  }
}

@keyframes slideIn {
  100% {
    transform: translateX(0);
  }
}