.form {
    width: 500px;
    height: 300px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 5rem 1rem;
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    transition: all 2s;
    animation: popup .6s linear forwards;
    z-index: 999;
}
.formClose {
    animation: popDown .4s linear forwards;
}

.formInnerContainer {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.addBtn {
    background-image: linear-gradient(to top right, #C546D4, #FE9089);
}
.addBtn span {
    color: #fff
}


@keyframes popup {
    0% {
        clip-path: polygon(50% 100%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 50% 100%);
        opacity: 0;
    }
    50% {
        clip-path: polygon(0 75%, 48% 75%, 45% 100%, 55% 100%, 52% 75%, 100% 75%, 100% 75%, 0 75%);
        opacity: .5;
    }
    100% {
        clip-path: polygon(0 75%, 48% 75%, 45% 100%, 55% 100%, 52% 75%, 100% 75%, 100% 0, 0 0);
        opacity: 1;
    }
}
  
@keyframes popDown {
    0% {
      clip-path: polygon(0 75%, 48% 75%, 45% 100%, 55% 100%, 52% 75%, 100% 75%, 100% 0, 0 0);
    }
    50% {
      clip-path: polygon(0 75%, 48% 75%, 45% 100%, 55% 100%, 52% 75%, 100% 75%, 100% 75%, 0 75%);
      opacity: .3;
    }
    100% {
      clip-path: polygon(50% 100%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 50% 100%);
      opacity: 0;
    }
}


.formSubmitBtn {
    background: transparent;
    overflow: hidden;
    transition: all .5s;
}

.formSubmitBtn:before,
.formSubmitBtn:after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    background-image: linear-gradient(to top right, #c646d4d7, #FE9089); 
    z-index: -1;
    transform: translate3D(0,-100%,0);
    transition: all .5s;
}

.formSubmitBtn:before{
    background: rgba(255, 255, 255, 0.1);
    z-index: -2;
    transform: translate3D(0,0,0);
}

.formSubmitBtn:hover:after{
    transform: translate3D(0,0,0);
    transition: all .5s;
}

.formSubmitBtn:after{
    width: 200%;
    transform-origin: 0 bottom;
    transform: translate3D(-50%,0,0) rotate(-50deg);
}

.formSubmitBtn:hover:after{
    transform: rotate(0deg);
    transition: all .5s;
}

.formSubmitBtn:hover:before,
.formSubmitBtn:hover:after{
    transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66) !important;
}