.todo {
    max-width: 450px;
    height: 800px;
    border-radius: 50px;
    background-color: #4639A1;
    padding: 50px 30px;
    margin: auto;
    margin-top: 50px;
    text-align: center;
    position: relative;
    box-sizing: border-box;
    border: 2px solid #e1e0e0;
    transition: all .2s;
}

.heading {
    text-decoration: underline;
}
.heading span {
    font-family: 'Zen Kurenaido', sans-serif;
}

.form {
    margin-top: 30px
}

