
.todoListItem {
    transform: translateX(-100%);
    animation: slideIn .4s ease-out forwards;
}

.todoCircleIcon:hover {
    animation: bubbleUp .9s linear infinite;
}

.trashIcon:active {
    animation: shake .3s;
}

.todoList::-webkit-scrollbar {
    display: none;
}
  
.todoList {
    -ms-overflow-style: auto;
    scrollbar-color: grey transparent;
    
}


@keyframes slideIn {
    80% {
        transform: translateX(20%);
    }
    100% {
        transform: translateX(0%)
    }
}

@keyframes shake {
    20%,60%,100% {
        transform: rotate(7deg);
    }
    0%,40%,80% {
        transform: rotate(-7deg);
    }
}


@keyframes bubbleUp {
    50% {
        transform: scale(.86);
    }
}

